*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  GENERAL  */
body{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1200px;
    width: 75%;
    margin: auto;
    
}
section{
    padding: 45px 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none; 
    color: white;
}
.button{
    padding: 4px 15px;
    border-radius: 15px;
    background-color: white;
    color: black;
}

/* HEADER */
header{
    padding-top: 10px;
    background-color: #255EE9;
    
}
.menu{
    height: 50px;
}
.menu-column{
    width: calc(100% / 4);
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
}
.menu-column:nth-of-type(2n+2){
    width: calc(100% / 2);
}
.bottom-header{
    background-image: url('../img/jumbo.png');
    background-position: center center;
    background-size: cover;
    padding: 65px 0 65px 0;
}
.menu-column > img{
    height: 25px;
    margin-top: 5px;
}

.box-header{
    width: 75%;
    margin: auto;
    text-align: center;
}
.menu-column > ul > li{
    display: inline-block;
    font-size: 0.75em;
    margin: 0 5px;
}
header  .menu-column > .button{
    font-size: 0.75em;
}
.box-header > *{
    margin: 20px;
}
.box-header .button:last-child{
    background-color: #23272A;
    color: white;
}
p, .bottom-header a{
    font-size: 0.85em;
}

/*  MAIN */
main > *{
    color: black;
}
main > section:nth-of-type(2n+2){
    background-color: #F6F6F6;
}
.box1{
    width: 60%;
}
.box2{
    width:40%;
}
.box3{

    width: 100%;
    text-align: center;
}
main .box2:nth-of-type(2n+2){
    padding-left: 30px;
}
main .box1:nth-of-type(2n+2){
    padding-left: 30px;
}
section .box1 > img,
section .box2 > img{
    width: 100%;
    text-align: center;
}
h2{
    margin: 10px;
}
section .box3 div > img{
    height: 400px;
}
.stars{
    background-image: url('../img/stars.svg');
    background-position: center center;
    background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 10px;
}
.box3 .button{
    background-color: #7289DA;
    font-size: 0.85em;
    color: white;
}

/* FOOTER */
footer *{
    color: white;
}
footer{
    background-color: #23272A;
}
/*MAIN FOOTER*/

.box-footer1{
    width: calc(100% / 3);
    align-self: stretch;
}
.box-footer1 h4,
.box-footer-rows h5{
    color: #7289DA;
}
.language > img{
    height: 10px;
}
.language{
    font-size: 0.65em;
}
.box-footer1 h4,
.box-footer1 .language{
    margin-bottom: 10px;
}
.box-footer1 > ul > li{
    display: inline-block;
}

.box-footer2{
    width: calc((100% / 3) * 2);
}
.box-footer-rows{
    width: calc(100% / 4);
}

.box-footer-rows li{
    font-size: 0.75em;
    margin: 10px 0;
}
.column{
    align-items: stretch;
}


/* NAV FOOTER*/
.footer-nav{
    justify-content: space-between;
}
.logo > img{
    height: 25px;
    margin-top: 5px;
}
.footer-nav .button{
    background-color: #7289DA;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
}
.footer-nav{
    border-top: 1px solid #7289DA;
}